# --- Настройки Telegram API ---
# Получите эти данные на https://my.telegram.org/apps
TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=abcdefghijklmnopqrstuvwxyz123456

# --- Строка сессии Telegram ---
# Генерируется с помощью scripts/generate_session.py
# ВНИМАНИЕ: это секретная строка — НИКОГДА не коммитьте её в Git!
TELEGRAM_SESSION_STR=1ApWapzMBu1...

# --- Номер телефона ---
# Номер, привязанныйту Telegram (для генерации сессии)
TELEGRAM_PHONE=+7123456789

# --- Канал и группа комментариев ---
# Указывайте имя канала без символа '@'
TELEGRAM_CHANNEL=ваш_канал
# Имя группы комментариев (часто выглядит как c/ВАШ_КАНАЛ)
TELEGRAM_COMMENTS_GROUP=ваша_группа_комментариев

# --- Ограничения для скрапинга ---
# Максимальное количество сообщений, которые будут загружены из канала
MESSAGES_LIMIT=5000
# Максимальное количество комментариев, загружаемых к одному посту (опционально)
COMMENTS_LIMIT=300

# --- Служебные переменные для generate_session_step2_local.py ---
# Получатся с помощью generate_session_step1_local.py
# УБРАТЬ перенос строки в первой переменной!!!!
# НЕ НАДО переносить в Actions secrets and variables на GitHub!!!
STEP2_PARTIAL_SESSION=
STEP2_PHONE_CODE_HASH=
